<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <nav>
            <div class="nav-main nav-container">
                <h1 class="logo">BUGeT</h1>
                <ul class="nav-list-left">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#">Features</a></li>
                    <li class="nav-item"><a href="#">Pricing</a></li>
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                </ul>
                <ul class="nav-list-right">
                    <li class="nav-item-right btn-large-primary signup-button"><a href="#">Sign up</a></li>
                </ul>
            </div>

            <div class="nav-burger">
                <div class="nav-burger-container">
                    <div class="line1">-</div>
                    <div class="line2">-</div>
                    <div class="line3">-</div>
                </div>
            </div>
        </nav>

        <section>
            <div class="container text-center main-section">
                <div class="main-left">
                    <h1 class="site-header">Online Budgeting Software</h1>
                    <p>Get your finances in check while being organized and use automation to pay bills and invest more wisely.</p>

                    <form action="">
                        <p>Enter your email to get started.</p>
                        <input type="text" placeholder="Email" name="email">
                        <a class="btn-small-accent" href="#">Get Started</a>
                        <!--<button class="btn-small-accent">Get Started</button> -->
                    </form>
                </div>

                <img class="main-page-image" src="images/1.jpg" alt="image of people working on a computer">
            </div>
        </section>

        <hr>

        <section class="card-section">
            <div class="card text-center">1</div>
            <div class="card text-center">2</div>
            <div class="card text-center">3</div>
        </section>

        <footer class="text-center">
            <p>Copyright @2021</p>
        </footer>

        <script src="/js/app.js" async defer></script>
    </body>
</html>
